# Use root/example as user/password credentials

services:
  db:
    image: mysql
    restart: always
    networks:
      - seenflix-network
    env_file:
      - .env
    volumes:
      - ./backend/database/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"






volumes:
  mysql-data:

networks:
  seenflix-network:
    driver: bridge

